@font-face{
  font-family: visitor;
  src: url('public/pixel.otf') format('opentype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: visitor, sans-serif;
}

button{
  background-color: transparent;
  border: none;
  background-size: cover;
  image-rendering: pixelated;
}

button:focus{
  outline: none;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #9c9c9c;
}

.page{
  flex-grow: 1;
  display: grid;
  place-items: center;
}
