@font-face{
  font-family: visitor;
  src: url('../public/pixel.otf') format('opentype');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: visitor, sans-serif;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

.header{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px;
  gap: 4px;
}

.nav-button{
  width: 213px;
  height: 87px;
  background-color: transparent;
  border: none;
  background-size: cover;
  image-rendering: pixelated;
}

.nav-button:focus{
  filter: sepia(20%) hue-rotate(180deg) saturate(500%);
  outline: none;
}

.nav-button.active{
  filter: sepia(100%) hue-rotate(180deg) saturate(500%);
}

.nav-button.counter{
  background-image: url('../public/img/counter.png');
}

.nav-button.counter:active{
  background-image: url('../public/img/counter-pressed.png');
}

.nav-button.loader{
  background-image: url('../public/img/loader.png');
}

.nav-button.loader:active{
  background-image: url('../public/img/loader-pressed.png');
}

.nav-button.parallel{
  background-image: url('../public/img/parallel.png');
}

.nav-button.parallel:active{
  background-image: url('../public/img/parallel-pressed.png');
}

.page{
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.data{
  width: 400px;
  background-image: url('../public/img/frame.png');
  padding: 20px;
  color: green;
  overflow: auto;
  white-space: pre;
  font-size: 12px;
  image-rendering: pixelated;
}

.data div{
  height: 360px;
  overflow-x: auto;
}

.data div::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}
.data div::-webkit-scrollbar-track{
  background-color: transparent;
}
.data div::-webkit-scrollbar-thumb{
  background-color: green;
}
.data div::-webkit-scrollbar-corner{
  background-color: transparent;
}

.count{
  height: 200px;
  width: 200px;
  background-image: url('../public/img/small-frame.png');
  display: grid;
  place-items: center;
  color: green;
  font-size: 60px;
  overflow: hidden;
  padding: 20px;
}

.counter-page .count-buttons{
  display: flex;
  justify-content: space-between;
  margin: 20px -14px 0 0;
}

.counter-page button{
  width: 80px;
  height: 92.8px;
  background-color: transparent;
  border: none;
  background-size: cover;
  image-rendering: pixelated;
}

.counter-page button:first-child{
  background-image: url('../public/img/minus.png');
  filter: sepia(100%) hue-rotate(320deg) saturate(600%);
}
.counter-page button:first-child:active{
  background-image: url('../public/img/minus-pressed.png');
}
.counter-page button:last-child{
  background-image: url('../public/img/plus.png');
  filter: sepia(100%) hue-rotate(45deg) saturate(500%);
}
.counter-page button:last-child:active{
  background-image: url('../public/img/plus-pressed.png');
}

.parallel-page{
  display: flex;
  gap: 32px;
}