*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  height: 100px;
}

.nav-button{
  width: calc(100% / 3);
  height: 100%;
}

.page{
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.counter-page{

}